@model TheMasterProject.Models.ApplicationUser

@using (Html.BeginForm("AssignManagerToDealer", "ManageRelation", FormMethod.Post))
{
    <div class="row">
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-2" style="margin:auto">Assign</div>
        <div class="col-md-6" style="margin:auto">
            @Html.DropDownListFor(model => model.LeadAssigned, (IEnumerable<SelectListItem>)ViewBag.Manager, new { @class = "form-control" })
        </div>
        <div class="col-md-4" style="margin:auto">To Dealer@*:<b>@Model.FirstName</b>*@</div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Update" style="width:100%" />
        </div>
    </div>

}
