@model TheMasterProject.Models.AssistantManagerToMemberViewModel

@using (Html.BeginForm("DeleteTeamMember", "ManageRelation", FormMethod.Post))
{
    <div class="row">
        @Html.HiddenFor(model => model.AssistantManagerId)
        <div class="col-md-2" style="margin:auto">Remove</div>
        <div class="col-md-6" style="margin:auto">
            @Html.DropDownListFor(model => model.TeamMemberId, (IEnumerable<SelectListItem>)ViewBag.teamMembersList, new { @class = "form-control" })
        </div>
        <div class="col-md-4" style="margin:auto">From AM:<b>@Model.AssistantManagerName</b></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Delete" style="width:100%" />
        </div>
    </div>

}

