@model TheMasterProject.Models.Buyer_Detail


@using (Html.BeginForm("AssignLeadToManager", "UserDetail", FormMethod.Post))
{
    
    @Html.HiddenFor(model => model.BuyerId)
    <div class="row">
       
            <div class="col-md-2" style="margin:auto">Assign</div>
            <div class="col-md-6" style="margin:auto">
                @Html.DropDownListFor(model => model.ManagerAssigned, (IEnumerable<SelectListItem>)ViewBag.Managers, new { @class = "form-control" })
            </div>
            <div class="col-md-4" style="margin:auto">To Lead: <b>@Model.BuyerId</b></div>


    </div>
    <div class="row">
        
            <div class="col-md-3"></div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </div>
   

}


