
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_SBManager.cshtml";
}


<center><img src="~/Content/Helper/warning.png" height="400px" width="400px" />
    
    <br />
    <h2>Some Error Occured !!! Please Go Back and Refresh Your Page and Try Again</h2>
    </center>